.TweetButton {
	background-color:#007dc1;
	border-radius:28px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    padding:5px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.TweetButton:hover {
    background-color:#0061a7;
    color:#ffffff;
    text-decoration:none;
}
.TweetButton:active {
	position:relative;
	top:1px;
}

.FollowButton {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.FollowButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
	text-decoration:none;
	color:#ffffff;
}
.FollowButton:active {
	position:relative;
	top:1px;
}

.AddedButton {
	background:grey;
	background-color:grey;
	border-radius:18px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.AddedButton:hover {
	text-decoration:none;
	color:#ffffff;
}

.image-upload>input {
    display: none;
  }